@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: no-repeat linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjB0b3B8ZW58MHx8MHx8&w=1000&q=80);
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  background: linear-gradient(to bottom, #3AB4F2, #6E85B7, #fff, #B2C8DF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header .navigation a {
  background: linear-gradient(to bottom,  #fff,#B1E1FF, #2B7A0B,#1C0A00);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
  margin-right: 114px;
}

header .navigation a:not(:last-child) {
  margin-right: 30px;
}

header .navigation a:hover {
  background: linear-gradient(to top, #fff,#B1E1FF, #1C0A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2 {
  background: linear-gradient(to bottom, #fff,#B1E1FF, #2B7A0B,#1C0A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span {
  background: linear-gradient(to top, #fff,#B1E1FF, #2B7A0B,#1C0A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 50px;
  font-weight: 600;
}

.content .info p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
  color:#FFf;
}

.content .info-btn {
  color: #fff;
  background: #B1E1FF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover {
  background: #2B7A0B;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a {
  position: relative;
  color: #B1E1FF;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child) {
  margin-right: 60px;
}

.media-icons a:hover {
  transform: scale(2.5);
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

section .aboutus{
  background: no-repeat url(https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwc2hvcCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
}

.contenttwo .about h2{
  background: linear-gradient(to bottom, #fff,#B1E1FF, #2B7A0B,#1C0A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.contenttwo .about p{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
  color:#FFf;
}

.contenttwo .home-btn{
  color: #fff;
    background: #B1E1FF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
    margin-left: 138px;
    margin-top: 15px;
}

.contenttwo .home-btn:hover {
  background:#2B7A0B;
}

.contenttwo .happylady img{
  width: 40%;
    margin-left: 100px;
    margin-top: 95px;
}

header .navigation-two a {
  background: linear-gradient(to bottom,  #fff,#B1E1FF, #2B7A0B,#1C0A00);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation-two a:not(:last-child) {
  margin-right: 30px;
}

header .navigation-two a:hover {
  background: linear-gradient(to top,#B1E1FF, #fff,  #1C0A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header .header-two{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container form .card-details{
  margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-details .card-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px
}

.details{
  color: #fff;
}

.card-details .card-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.container{
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 25px;
  background:  rgba(25, 25, 25, 0.4);
  margin-left: 410px;
}

.container .heading{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}
.container .heading::before{
  content:'';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(135deg,  #2B7A0B,#1C0A00 )
}

.card-box .option{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .card-details .card-box{
  width: calc(100%/2 - 20px);
  margin-bottom: 15px;
}

form .circal-form .circal-title{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
form .circal-form .category{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  color: #fff;
}
form .button{
text-align: center;
}
form .button input{
  padding: 10px 0;
  margin-top: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  color:#fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg,  #fff,#B1E1FF, #2B7A0B,#1C0A00 )
}
form .button input:hover{
  background: linear-gradient(67deg,   #1C0A00,#2B7A0B,#B1E1FF); ;
}
/*Responsive styles*/
@media (max-width: 960px) {
  header .navigation {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover {
    color: #fff;
  }

  label .close-btn {
    display: none;
  }

  #check:checked~header .navigation {
    z-index: 2;
    position: fixed;
    background: rgb(36, 47, 155, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked~header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked~header label .menu-btn {
    display: none;
  }

  #check:checked~header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content.info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content.info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content.info p {
    font-size: 14px;
  }

  @media (max-width: 560px) {
    .content.info h2 {
      font-size: 45px;
      line-height: 50px;
    }

    .content.info h2 span {
      font-size: 40px;
      font-weight: 600;
    }

    .content.info p {
      font-size: 14px;
    }
